/* The navigation bar */
#navbar {
  overflow: hidden;
  background-color: #54cd13;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 5;
}

/* Links inside the navbar */
#language {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 23px 12px;
  text-decoration: none;
}

#logo {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 23px 12px;
  text-decoration: none;
}

#midmenu {
  margin: auto;
  width: 50%;
  padding: 21px 12px;
  display: block;
  text-align: center;
}

#products{
  vertical-align: middle;
  color: #f2f2f2;

  padding: 22px 12px;
  text-decoration: none;
}

#downloads{
  vertical-align: middle;
  color: #f2f2f2;

  padding: 22px 12px;
  text-decoration: none;
}

#about{
  vertical-align: middle;
  color: #f2f2f2;

  padding: 22px 12px;
  text-decoration: none;
}

/* Change background when mouse-over */
#navbar a:hover {
  background: #ddd;
  color: black;
}

#firstpage{
  position: relative;
  background: none;
  height: 100vh;
  width: 100%;
  top: 0px;
  display: block;
  left: 0px;
  text-align: center;
}

.img{
  position: sticky;
  /*background: linear-gradient(blue, pink);*/
  height: 100vh;
  width: 100%;
  top: 0px;
  left: 0px;
}

.motto{
  position: inherit;
  color: white;
  width: 50%;
  top: -40%;
  margin: 0 25%; 
  font-size: xx-large; 
  font-weight: 1000;
}

#firstpage a{
  position: inherit;
  background: rgba(60, 60, 60, 0.6);
  width: 100px;
  margin: auto;
  padding: 22px 23px;
  top: -30%;
}

#firstpage a:hover {
  background: #ddd;
  color: black;
}

#secondpage{
  display: block;
  position: relative;
  background: none;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0px;
  text-align: left;
}

.textbox{
  color:white;
  position: inherit;
  text-align: left;
  padding: 2% 2%;
  height: max-content;
  background: rgba(60, 60, 60, 0.3);
}

#secondpage .textbox{
  top: -85%;
  width: 25%;
  margin: 10% 10%;
  float: left;
}

.feature{
  font-weight: 1000;
  font-size: xx-large;
}

.text{
  font-size: x-large;
}

#thirdpage{
  display: block;
  position: relative;
  background: none;
  height: 100vh;
  width: 100%;
  top: 0px;
  left: 0px;
}

#thirdpage .textbox{
  top: -85%;
  width: 25%;
  margin: 10% 10%;
  float: right;
}

#thirdpage .img img{
  position: absolute;
  left: 0;
  right: 0;
}

#fourthpage{
  display: block;
  position: relative;
  background: none;
  height: 100vh;
  width: 100%;
  top: 0px;
  left: 0px;
}

#fourthpage .img img{
  position: absolute;
  left: 0;
  right: 0;
}

#fourthpage .textbox{
  width: 75%;
  margin: auto;
  top: -30%;
  padding: 0;
  float: center;
  text-align: center;
}

#fifthpage{
  display: block;
  position: relative;
  background: none;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0px;
}

#fifthpage .textbox{
  top: -140%;
  width: 25%;
  margin: 10% 10%;
  float: left;
}

#video{
  display: block;
  background: #606060;
  height: 300px;
  width: 500px;
  right: -50%;
  margin-top: 15%;
  top: -85%;
  position: inherit;
}

#lastpage{
  position: relative;
  background: none;
  height: 100vh;
  width: 100%;
  top: 0px;
  display: block;
  left: 0px;
  text-align: left;
}

#lastpage .motto{
  color:black;
}

#lastpage a{
  position: absolute;
  background: rgba(60, 60, 60, 0.6);
  width: 100px;
  margin: auto;
  padding: 22px 23px;
  top: 85%;
  text-align: center;
}

#lastpage a:hover {
  background: #ddd;
  color: black;
}
#lastpage .img img{
  position:absolute;
}

#bottom{
  display: block;
  position: relative;
  background: none;
  height: 100px;
  width: 100%;
  top: 0;
  left: 0px;
}

.bg{
  position: inherit;
  background: #1ca127;
  height: 100px;
  width: 100%;
  top: 0px;
  left: 0px;
}

.bg .text{
  font-size: small;
}

#bottom .text{
  position: absolute;
  left:0;
  top: 0;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
}

